@media (max-width: 992px){
    #hero{
        padding: 4rem 0;
        min-height: auto;
    }

    #hero .container{
        flex-direction: column;
        text-align: center;
    }

    .button-group{
        display: flex;
        justify-content: center;
    }

    .hero-image img{
        margin: 0 auto;
    }

    .navbar ul{
        gap: 1rem;
    }
}

@media (max-width: 768px){
    html{
        font-size: 15px;
    }

    .section-title{
        font-size: 2.3rem;
    }
    .skills-grid, .projects-grid{
        grid-template-columns: 1fr;
    }

    .menu-toggle{
        display: block;
    }

     .navbar{
        position: relative;
    }

    .nav-link{
        display: none;
    }

   .nav-link.display{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--primary-background);
        padding: 1.5rem 0;
        text-align: center;
        box-shadow: var(--shadow-md);
   }

    .github-btn{
        display: none;
    }
    
}

@media (max-width: 480px){
    .button-group{
        flex-direction: column;
        gap: 1rem;
    }


    .btn{
        width: 100%;
        text-align: center;
    }

    .btn-secondary{
        margin-left: 0;
    }

    .name{
        font-size: 1rem;
    }

    .intro{
        font-size: 1rem;
    }

    .container{
        padding: 0 2rem;
    }


}